# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Datos y modelos generados
database/*.db
database/*.sqlite
data/*.db
data/*.sqlite
models/*.pkl
models/*.joblib
data/*.csv

# Notebooks
.ipynb_checkpoints/

# Sistema operativo / editores
.DS_Store
Thumbs.db
.vscode/
.idea/
